<template>
    <b-modal :id="modalID" @hide="hide" :visible="this.$route.hash === modalHash" v-bind="$attrs">
        <slot></slot>
    </b-modal>
</template>

<script>
export default {
    name: 'modal',
    inheritAttrs: true,
    data() {
        return {
            modalHash: "#" + this.modalID
        }
    },
    props: {
        modalID: String
    },
    methods: {
        hide() {
            this.$router.push({hash: null})
        }
    }
}
</script>
