<template>
    <div id="app">
        <b-btn v-bind="modal('modal')" variant="primary">Open modal</b-btn>
        <b-btn v-bind="modal('modal2')" variant="primary">Open modal</b-btn>
        <modal modalID="modal" title="Skvělá práce!">
            <p>Tohle je test</p>
        </modal>
        <modal modalID="modal2" title="Skvělá práce!">
            <p>Tohle je test 2</p>
        </modal>
    </div>
</template>

<script>
import modal from '@/components/Modal'

export default {
    name: 'App',
    components: {
        modal
    },
    data() {
        return {
            modal(id) {
                return {
                    "v-b-modal": id,
                    to: "#" + id,
                    append: true
                }
            }
        }
    }
}
</script>
